<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class"> com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/insurance</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.pool_size">10</property>
		<property name="show_sql">true</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<mapping resource="vo/countryVo.hbm.xml"/> 
		<mapping resource="vo/stateVo.hbm.xml"/>
		<mapping resource="vo/cityVo.hbm.xml"/>
		<mapping resource="vo/clientVo.hbm.xml"/> 
		<mapping resource="vo/RegVo.hbm.xml"/> 
		<mapping resource="vo/policyVo.hbm.xml"/> 
		<mapping resource="vo/companyVo.hbm.xml"/> 
		<mapping resource="vo/registerVo.hbm.xml"/> 
		<mapping resource="vo/loginVo.hbm.xml"/> 
		<mapping resource="vo/policyName.hbm.xml"/>
		<mapping resource="vo/planVo.hbm.xml"/>
		<mapping resource="vo/FileVO.hbm.xml"/>
		<mapping resource="vo/feedbackVo.hbm.xml"/>
		<mapping resource="vo/complainVo.hbm.xml"/>
		<mapping resource="vo/agentVo.hbm.xml"/>
		
		</session-factory>
</hibernate-configuration>